.span4
  %aside#sidebar
    %h2 
      Scoreboard
      .loader
    .scoreboard_wrapper
      = render :partial => "scoreboard", :locals => {:scoreboard => @scoreboard}
.span8
  %section#content
    %h2 
      Tables
      .loader
    .poker_tables_wrapper
      = render :partial => "poker_tables", :locals => {:tables => @tables}
