/*= require_self */

@import "bootstrap";
@import "google-buttons";

@import "scoreboard";
@import "poker_tables";
@import "registration";

body {
  font: 1em Helvetica, Arial, sans-serif;
  background: image-url('background.gif');
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color: #666;
}

a { &:hover { text-decoration: none; } }

.navbar {
  .container {
    width: 940px;
  }
  .navbar-inner {
    padding: 8px 0px;
    background: #fff;

    .logo {
      background: image-url('logo.jpg') no-repeat 0% 50%;
      height: 80px;
      display: block;
      opacity: 1;
      line-height: 80px;
      padding-left: 210px;
      font-size: 1.3em;
      float: left;
    } 
    .pull-right {
      margin-top: 20px;

    }
  }
}

.loader {
  width: 32px;
  height: 32px;
  float: right;
  display: none;
  background: image-url('loader.gif') no-repeat;
}

#content, #sidebar, .registration {
  background: white;
  border-radius: 4px;
  @include box-shadow(#{0 0 1px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.2)});

  h2 { 
    background: #fff;
    background: -moz-linear-gradient(top, white 0%, #f4f4f4 100%);
    background: -webkit-linear-gradient(top, white 0%, #f4f4f4 100%);
    background: linear, to bottom, white 0%, #f4f4f4 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px 4px 0 0;
    color: #444;
    font-size: 1.25em;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    padding: .6em 1em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }
}

i.chip {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -1px;
  line-height: 18px;
  vertical-align: text-top;
  background: image-url('chip_sprite.png') no-repeat;
  background-position: 0 0;
  margin-left: -13px;

  &.chip-bordered { background: image-url('chip_sprite_bordered.png') no-repeat; }
  &.chip-white{ background-position: 0 0 }
  &.chip-red{ background-position: -20px 0 }
  &.chip-green{ background-position: -40px 0 }
  &.chip-black{ background-position: -60px -20px }
  &.chip-purple{ background-position: -60px 0 }
  &.chip-yellow{ background-position: 0 -20px }
  &.chip-gray{ background-position: -60px 0 }
}   

.docs .span8 { margin: 0 auto; float: none; margin-bottom: 30px; }
.docs #poker_tables { padding: 20px 20px 10px 20px; }
.docs .table th, .docs .table td { border-left: 1px solid #ddd; }
.docs h4 { padding: 0; margin: 0 }

.dropdown-menu { margin-top: 5px; @include border-radius(4px); }
.dropdown-menu a { padding: 5px 15px; }
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: #444;
  background-color: #f1f1f1;
  background-image: none;
}
.btn-group a { cursor: pointer; }
.btn-group > .btn:first-child { @include border-radius(4px 0 0 4px !important); }
.btn-group > .btn:last-child { @include border-radius(0px 4px 4px 0px !important); }

.social {
  margin: 0 auto;
  li {
    float: left;
    list-style: none;
    a {
      display: block;
      width: 30px;
      @include opacity(0.1);
      @include transition(0.3s all linear);
      height: 30px;
      margin-left: 5px;
      margin-top: 7px;
      &:hover { @include opacity(0.2); }
      &.twitter { background: image-url('twitter.png') no-repeat; }
      &.linked_in { background: image-url('facebook.png') no-repeat; }
      &.facebook { background: image-url('linked_in.png') no-repeat; }
    }
  }
} 
