#poker_tables {
  padding: 20px;

  .poker_table {
    float: left;
    font-size: 0.8em;
    width: 48%;
    margin-right: 20px;
    margin-bottom: 20px; 
    background: image-url('pattern.png');
    @include border-radius(8px);
    -webkit-background-clip: padding-box;
    @include box-shadow(#{0 0 2px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.5)});
    @include transition(all 0.3s linear);

    &:nth-child(even) { margin-right: 0 }
    &.hover {
      @include box-shadow(0px 3px 12px 2px rgba(0,0,0,0.5));
      top: -2px;
      position: relative;
    }

    .players {
      margin: 10px 0px;
      padding: 0;
      li { 
        list-style: none;
        float: left;
        width: 33%;
        margin-bottom: 40px; 
        span {
          text-align: center;
          padding: 0px 10px;
          display: block;
          &.name { font-weight: bold; color: #fff; }
          &.stack { color: #fff; }
        }

        &.bottom { 
          margin-bottom: 0px; 
        }
      }
    }

    h3 { 
      margin: 0;
      padding: 5px 10px;
      line-height: 24px;
      font-size: 1.4em;
      color: #fff;
      background: image-url('wood.png') rgba(0,0,0,0.5);
      text-align: center;
      text-shadow: 0px 1px 0px rgba(0,0,0,0.7);
      @include border-radius(8px 8px 0px 0px);
      border-bottom: 2px solid rgba(0,0,0,0.7);

      &.last_winner { 
        margin-top: 10px;
        @include border-radius(0 0 8px 8px);
        background: rgba(0,0,0,0.2);
        border-bottom: none;
        text-shadow: none;
        line-height: 24px;
        font-size: 1em;
        text-align: left;

        i {
          @include opacity(0.3);
          margin-right: 3px;
        }
      }
    }

  }
}
 
