!!!
%html
  %head
    %title No Limit Code 'Em
    = javascript_include_tag  "application"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          %a.logo{:href => "/"} No Limit Code 'Em
          .pull-right
            %ul.social
              %li
                %a.twitter{:href => "http://twitter.com/enova"}
              %li
                %a.linked_in{:href => "http://www.linkedin.com/company/enova-financial/careers"}
              %li
                %a.facebook{:href => "http://facebook.com/enova"}

    .container
      .row
        = yield
