!!!
%html
  %head
    %title No Limit Code 'Em
    = javascript_include_tag  "application"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          %a.logo{:href => "/"} No Limit Code 'Em
          .pull-right
            .btn-group
              %a.btn{:href => "/rules.html"} Rules
              %a.btn{:href => "/docs.html"} Docs
              %a.btn{:href => "/help.html"} Help
              %a.btn{:href => "/code.html"}  Example bot
              %a.btn{:href => "/sandbox_testing.html"}  Sandbox
    .container
      .row
        = yield
